@use "../config/variables" as var;

.movieList_container{
    width: 100%;
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px 8px;
    background-color: var.$main-color;
}