@use "../config/variables" as var;

.banner_Container {
  position: relative;
  overflow: hidden;
   @media (min-width: var.$desktop) {
    max-height: 500px;
  }
  .banner_overlay {
    position: absolute;
    background-color: rgb(0 0 0 / 54%);
    z-index: 25;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
  }
  .banner_goBackArrow {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    filter: invert(100%) sepia(1%) saturate(7500%) hue-rotate(66deg)
      brightness(103%) contrast(112%);
    z-index: 50;
  }
  .banner_image {
    @media (min-width: var.$desktop) {
        object-fit: fill;
        aspect-ratio: 4/2;
    }
  }
  .banner_placeholder{
    @media (min-width: var.$desktop) {
        width: 100%;
    }
  }
}
