@use '../config/variables' as var;

.castTable_title{
  font-size: 3rem;
  text-align: start;
  margin: 20px auto;
  @media (min-width: var.$desktop){
    font-size: 6rem;
    text-align: center;
  }
}
.castTable_table {
    width: 100%;
    border-collapse: collapse;
    background-color: var.$main-color;
    max-width: 1280px;
    margin: auto;
    .castTable_thead{
        font-size: 1.5rem;
        @media (min-width: var.$desktop){
          font-size: 3rem;
        }
    }
    .castTable_thead-th,
    .castTable_body-td {
      width: 40%;
      padding: 10px;
      text-align: left;
      font-size: 1.8rem;
      @media (min-width: var.$desktop){
        font-size: 3rem;
      }
      &:first-child {
        padding-left: 0;
        max-width: 70px;
        width: 20%;
      }
      
      &:last-child {
        padding-right: 0;
      }
    }
   
    .castTable_thead-th {
      font-weight: bold;
    }

    .castTable_body-imgWrapper {
        display: inline-block;
        width: 60px;
        height: 60px;
        overflow: hidden;
        border-radius: 50%;
        .castTable_body-img--circular {
          width: 100%;
          height: auto;
          display: block;
          max-width: 100%;
          height: auto;
        }
          .castTable_body-img {
          display: block;
          max-width: 100%;
          height: auto;
          }
      }  
  }

  //no info message
  .castTable_noInfoMessage{
    font-size: 2rem;
    text-align: center;
    padding: 0px 0 20px;
    @media (min-width: var.$desktop){
      font-size: 3rem;
    }
  }
 