@use "../config/variables" as var;

.movieDetail_container{
    min-height: 100vh;
    background-color: var.$main-color;
    .movieDetail_generalInfo-container{
        width: 100%;
        display: flex;
        height: auto;
        .movieDetail_generalInfo-schedule{
            width: 50%;
            border: 1px solid var.$secondary-color;
            aspect-ratio: 2/1;
            min-height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.5rem;
        }
        .movieDetail_generalInfo-rating{
            width: 50%;
            border: 1px solid var.$secondary-color;
            aspect-ratio: 2/1;
            min-height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.5rem;

        }
    }
    .movieDetail_summary-container{
        width: 100%;
        padding: 30px 16px;
        .movieDetail_summary-header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0px 0 15px;
            .movieDetail_summary-title{
                font-size: 3rem;
            }
            .movieDetail_summary-extraInfo{
                font-size: 1.5rem;
            }
        }
        .movieDetail_summary-textContainer{
            .movieDetail_summary-text{
                font-size: 1.5rem;
                line-height: 20px;
            }
        }
    }
}